<!DOCTYPE html>
{% load static %}
<!---Coding By CodingLab | www.codinglabweb.com--->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
<!--                &lt;!&ndash;-nav bar -&ndash;&gt;-->
<!--                      <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--                      <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--                      <title> Navigation Bar Hover Animation </title>-->
<!--                      &lt;!&ndash;-Custom Css File!-&ndash;&gt;-->
<!--                      <link rel="stylesheet" href="{% static 'form_style/nav_style.css' %}">-->
<!--                &lt;!&ndash;-nav bar -&ndash;&gt;-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!--<title>Registration Form in HTML CSS</title>-->
    <!---Custom CSS File--->
    <link rel="stylesheet" href="{% static 'form_style/style.css' %}" />
  </head>
  <body>
    <section class="container">
      <header>Registration Form</header>
      <form action="#" class="form">
        <div class="input-box">
          <label>Full Name</label>
          <input type="text" placeholder="Enter full name" required />
        </div>

        <div class="input-box">
          <label>Email Address</label>
          <input type="text" placeholder="Enter email address" required />
        </div>

        <div class="column">
          <div class="input-box">
            <label>Phone Number</label>
            <input type="number" placeholder="Enter phone number" required />
          </div>
          <div class="input-box">
            <label>Birth Date</label>
            <input type="date" placeholder="Enter birth date" required />
          </div>
        </div>
        <div class="gender-box">
          <h3>Gender</h3>
          <div class="gender-option">
            <div class="gender">
              <input type="radio" id="check-male" name="gender" checked />
              <label for="check-male">male</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-female" name="gender" />
              <label for="check-female">Female</label>
            </div>
            <div class="gender">
              <input type="radio" id="check-other" name="gender" />
              <label for="check-other">prefer not to say</label>
            </div>
          </div>
        </div>
        <div class="input-box address">
          <label>Address</label>
          <input type="text" placeholder="Enter street address" required />
          <input type="text" placeholder="Enter street address line 2" required />
          <div class="column" >
            <div class="select-box" >
<!--              dependent dropdown-->
              <select name="Branch" id="Branch" onchange="this.form.submit()" title="Branch">
                    {% if selected_branch %}
                        <option value="{{ selected_branch.id }}" selected>{{ selected_branch.name }}</option>
                    {% else %}
                        <option value="" disabled>Select a branch</option>
                    {% endif %}
                    {% for Branch in branches %}
                        {% if not selected_branch or Branch.id != selected_branch.id %}
                            <option value="{{ Branch.id }}">{{ Branch.name }}</option>
                        {% endif %}
                    {% endfor %}
              </select>
            </div>
                <div class="select-box">
                    <select name="city" id="city" title="City">
                        {% for city in cities %}
                            <option value="{{ city.id }}">{{ city.name }}</option>
                        {% endfor %}
                    </select>
                </div>
          </div>
          <div class="column">
              <div class="select-box">
                <select>
                  <option hidden >Account type</option>
                  <option >Savings Account</option>
                  <option>Current Account</option>
                  <option>Recurring Deposit Account</option>
                  <option>Fixed Deposit Account</option>
                  <option>Demat Account</option>
                  <option>NRI Account</option>
                </select>
              </div>
            <input type="number" placeholder="Enter postal code" required />
          </div>
        </div>
                  <!--  checkbox -->
          <label><input type="checkbox" name="option1" value="yes"> Debit Card</label>
          <label><input type="checkbox" name="option2" value="yes"> Credit Card</label>
          <label><input type="checkbox" name="option3" value="yes"> Check Book</label>
        <button><a style="text-decoration: none; color: inherit;"  href="done" class="nav-link" >Submit</a></button>
<!--          <button type="submit">Submit</button>-->
        <button><a style="text-decoration: none; color: inherit;"  href="logout" class="nav-link" >Logout</a></button>

      </form>
    </section>
  </body>
</html>