{% load static %}

<html lang="en">
        <head>
            <meta charset="UTF-8">

                        <!---nav bar --->
                            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                              <meta http-equiv="X-UA-Compatible" content="ie=edge">
                              <title> Navigation Bar Hover Animation </title>
                              <!---Custom Css File!--->
                              <link rel="stylesheet" href="{% static 'form_style/nav_style.css' %}">
                        <!---nav bar --->
            <title>Title</title>
        </head>
    <body>
    <!---nav bar --->
                    <div  >
                        <nav>
                          <ul>
                            <li><a style="text-decoration: none; color: inherit;" href="/" >Home</a></li>
                            <li><a style="text-decoration: none; color: inherit;" href="" >About</a></li>
                            <li><a style="text-decoration: none; color: inherit;" href="" >Services</a></li>
                            <li><a style="text-decoration: none; color: inherit;" href="/" >Contact</a></li>

                          </ul>
                        </nav>
                    </div>
                <!---nav bar --->
          <div class="wrapper" >
             <div style="display:flex;justify-content:center;align-items:center;height:100vh;" >
                  <h1><a href="apply" name="button" type="button"> Form</a></h1>
             </div>

          </div>
       </body>
</html>

